{% extends "base.html.twig" %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">NPRadio</span>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary disabled" id="auto_refresh_label">
                <input type="checkbox" onclick="updateRefreshState()" id="auto_refresh"> auto refresh
            </label>
        </div>
    </nav>
    <div id="stream_infos" class="container-fluid card-columns"></div>
{% endblock %}