{% extends "base.html.twig" %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">NPRadio</span>
        <audio controls id="stream_player" onpause="initializePlayButtonsToPaused()"></audio>
        <div id="last_updated" class="text-light"></div>
    </nav>
    <div id="stream_infos" class="container-fluid card-columns justify-content-between"></div>
{% endblock %}