<template id="settings_template">
    <form>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-npradio" type="button" id="button-settings-save">&#10003;</button>
                    &nbsp;<button class="btn btn-secondary" type="button" id="button-settings-back">&#x2715;</button>
                    &nbsp;<button class="btn btn-danger float-end" type="button" id="button-settings-reset">&#x21bb;</button>
                </div>
                <div class="card-body">
                    <div class="list-group" id="stream_selection"></div>
                </div>
            </div>
        </div>
    </form>
</template>

<template id="setting_stream_template">
    <div class="selectable_stream list-group-item text-light">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="stream_setting_selection">
            <span id="radio_name"></span>: <b><span id="stream_name"></span></b>
            <a href="#" class="float-end">&#x2630;</a>
        </div>
    </div>
</template>
