:root {
    --primary-rgb: 61, 174, 233;
    --primary: rgb(var(--primary-rgb));
    --primary-75: rgba(var(--primary-rgb), 0.75);
    --primary-50: rgba(var(--primary-rgb), 0.5);
    --primary-25: rgba(var(--primary-rgb), 0.25);
    --dark: #1a1a1a;
}

#settings, #stream_infos {
    padding-top: var(--bs-gutter-y);
}

.shadow {
    filter: drop-shadow(0px 0px 2px white);
}

body {
    background-color: black;
}

.card, .navbar, .selectable_stream {
    background-color: var(--dark);
}

a {
    color: var(--primary);
    text-decoration: none;
}

.btn-npradio {
    background-color: var(--primary-75);
}
.btn-npradio:hover {
    background-color: var(--primary-50);
}

.card-header {
    background-color: rgba(0, 0, 0, 0.2);
}

.card-footer {
    background-color: var(--primary-50);
}

.dragging {
    background-color: var(--primary-25);
}

.octocat {
    fill: var(--primary-75);
    height: 24px;
    padding: 0 8px;
}
