{% extends "base.html.twig" %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand" onclick="showStreamInfo()" title="Now Playing Radio">
            <img src="/favicon.svg" class="align-top shadow" width="32" height="32" alt="">
            <span id="npradio_title">NPRadio</span>
        </span>
        <audio controls id="stream_player" onpause="initializePlayButtonsToPaused()"></audio>
        <div>
            <span id="last_updated" class="text-light"></span>
            &nbsp;
            <button type="button" class="btn btn-secondary" onclick="showSettings()">
                &#x2699;
            </button>
        </div>
    </nav>
    <div id="settings" class="container-fluid justify-content-center"></div>
    <div id="stream_infos" class="container-fluid card-columns justify-content-between"></div>
{% endblock %}
