name: Docker build and push

on:
  workflow_run:
    workflows: ["CI"]
    branches: [master]
    types: [completed]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          pull: true
          tags: ghcr.io/burned42/npradio:latest
          push: true
